extends layout

block content
  h1= title

  h2 Einf端hrung
  li <a href = "/intro/"> Einf端hrung in NodeBots</a> 
  li <a href = "/jsprimer/"> Einf端hrung in JavaScript</a> 
  li <a href = "/eprimer/"> Einf端hrung in die Elektronik</a> 

  h2 Tutorials
  li <a href = "/iotut/"> Ein-Ausgabe mit Arduino</a> 
  li <a href = "/sndtut/"> Sound mit Arduino</a> 
  li <a href = "/robtut1/"> Roboter Tutorial 1</a> 
  li <a href = "/robtut2/"> Roboter Tutorial 2</a> 

