//include mixins
extends _bootstrap

block body
  +navbar("NodeBots Tutorial","dropdown_menu")
    +nav_item("/","active") Home
    +nav_item("/intro/") Einführung in NodeBots
    +nav_item("/jsprimer/") Einführung in JavaScript
    +nav_item("/eprimer/") Einführung in die Elektronik
    +nav_item("/displays/") Roboter Anzeigen
    +nav_item("/sensors/") Roboter Sensoren
    +nav_item("/actors/") Roboter Antriebe

  div(class="container")  
    div(class="jumbotron")
      h1= title
 
    +carousel("Carousel ID_2",[
      {image:"images/slide1.png"},
      {image:"images/slide2.png"},
      {image:"images/slide3.png"},
      {image:"images/slide4.png"}
    ])

 
  div(class="container")  
    div(class="jumbotron alert-success")
      h2 Einführung
  
      h3 <a href = "/intro/"> Einführung in NodeBots</a> 
      h3 <a href = "/jsprimer/"> Einführung in JavaScript</a> 
      h3 <a href = "/eprimer/"> Einführung in die Elektronik</a> 

  div(class="container")  
    div(class="jumbotron alert-info")
      h2 Tutorials
  
      h3 <a href = "/displays/"> Roboter Anzeigen</a> 
      h3 <a href = "/sensors/"> Roboter Sensoren</a> 
      h3 <a href = "/actors/"> Roboter Antriebe</a> 
  
