//include mixins
extends _bootstrap

block body
  +navbar("Arduino Tutorials","dropdown_menu")
    +nav_item("/","active") Home
    +nav_item("/intro/") Einführung in NodeBots
    +nav_item("/jsprimer/") Einführung in JavaScript
    +nav_item("/eprimer/") Einführung in die Elektronik
    +nav_item("/iotut/") Ein-Ausgabe Tutorial
    +nav_item("/sndtut/") Sound Tutorial
    +nav_item("/robtut1/") Roboter Tutorial

  div(class="container")  
    div(class="jumbotron")
      h1= title
 
    +carousel("Carousel ID_2",[
      {image:"images/slide1.png"},
      {image:"images/slide2.png"},
      {image:"images/slide3.png"},
      {image:"images/slide4.png"}
    ])

 
  div(class="container")  
    div(class="jumbotron")
      h2 Einführung
  
    div(class="alert alert-success") <a href = "/intro/"> Einführung in NodeBots</a> 
    div(class="alert alert-success") <a href = "/jsprimer/"> Einführung in JavaScript</a> 
    div(class="alert alert-success") <a href = "/eprimer/"> Einführung in die Elektronik</a> 

  div(class="container")  
    div(class="jumbotron")
      h2 Tutorials
  
    div(class="alert alert-info") <a href = "/iotut/"> Ein-Ausgabe Tutorial</a> 
    div(class="alert alert-info") <a href = "/sndtut/"> Sound Tutorial</a> 
    div(class="alert alert-info") <a href = "/robtut1/"> Roboter Tutorial</a> 
  
