extends _bootstrap

block body
  +navbar("NodeBots Tutorial","dropdown_menu")
    +nav_item("/") Home
    +nav_item("/intro/","active") Einführung in NodeBots
    +nav_item("/jsprimer/") Einführung in JavaScript
    +nav_item("/eprimer/") Einführung in die Elektronik
    +nav_item("/iotut/") Ein-Ausgabe Tutorial
    +nav_item("/sndtut/") Sound Tutorial
    +nav_item("/robtut1/") Roboter Tutorial

  div(class="container")  
    div(class="jumbotron alert-success")
      h1= title

    include:markdown-it ../public/content/introduction.md
