extends _bootstrap

block body
  +navbar("NodeBots Tutorials","dropdown_menu")
    +nav_item("/") Home
    +nav_item("/intro") Einführung
    +nav_item("/displays") Roboter Anzeigen
    +nav_item("/sensors") Roboter Sensoren
    +nav_item("/actors") Roboter Antriebe

  .container
      .starter-template
          h1= markdownFile.title

          != markdownFile.parseContent()

      footer
          hr
          | <strong>Created:</strong> #{markdownFile.created} <br/>
          | <strong>Last modfied:</strong> #{markdownFile.modified} <br/>
          | <strong>Size:</strong> #{markdownFile.size} bytes

